<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <a class="navbar-brand pl-5 mt-5 mb-4" (click)="goToPage('/')">
        <span class="display-1"><span id="alg">alg</span><span id="match">match</span></span>
    </a>

    <button class="navbar-toggler mt-4 mr-5" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto pt-5 pb-3 pr-5">
            <a class="nav-item nav-link mr-5" id="homeLink" (click)="goToPage('/')"
                [ngClass]="{'active' : !['/about', '/algorithms', '/feedback'].includes(router.url)}">Home</a>
            <a class="nav-item nav-link mr-5" id="aboutLink" (click)="goToPage('/about')"
                [ngClass]="{'active' : router.url == '/about'}">About</a>
            <a class="nav-item nav-link mr-4 pr-3" id="algorithmsLink" (click)="goToPage('/algorithms')"
                [ngClass]="{'active' : router.url == '/algorithms'}">Algorithms</a>
            <a class="nav-item nav-link mr-4" id="feedbackLink" (click)="goToPage('/feedback')"
                [ngClass]="{'active' : router.url == '/feedback'}">Feedback</a>
        </div>
    </div>
</nav>